{{#if isLoggedIn}}
    <section class="actions">
        <form action="/expense/refill" method="POST">
            <h2>Salary time? Refill your account amount.</h2>
            <input type="text" name="refill" id="refill-amount">
            <button type="submit">Refill</button>
        </form>
        <div>
            <h2>New expense comming up?</h2>
            <a href="/expense/create">Add it now</a>
        </div>
    </section>

    <hr class="separator">

{{else}}

    <main>
        <p class="guest-message">MoneyGone? The best expense tracker tool of all time!<br>Аre you new here? <a
                href="/user/register">Register</a> yourself!</p>
    </main>

{{/if}}